<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ut2_app">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gym_app"
        android:label="@string/fitrank"
        android:supportsRtl="true"
        android:theme="@style/Theme.UT2_App">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.UT2_App"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity android:name=".activities.LoginActivity" android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:exported="true" />


        <!-- Otras actividades -->
        <activity android:name=".activities.SerieActivity" android:exported="false" />
        <activity android:name=".activities.EjercicioActivity" android:exported="false" />
        <activity android:name=".activities.DetalleEjercicioActivity" android:exported="false" />
        <activity android:name=".activities.ConfiguracionActivity" android:exported="false" />
        <activity android:name=".activities.CrearCuentaActivity" android:exported="false" />

    </application>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
